<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" icon="chevron-back" text="Recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>{{this.pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="category-list">
      <div class="category-item2">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <div class="recipe-count">
          <div class="recipe-count-item">
            <ion-icon name="heart-outline"></ion-icon>
            <span>48</span>
          </div>
          <div class="recipe-count-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>48mins</span>
          </div>
        </div>
      </div>
      <div class="category-item2">
        <div class="image-container">
          <img src="../../../assets/food/pizza1.jpg" />
        </div>
        <div class="recipe-count">
          <div class="recipe-count-item">
            <ion-icon name="heart-outline"></ion-icon>
            <span>48</span>
          </div>
          <div class="recipe-count-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>48mins</span>
          </div>
        </div>
      </div>
      <div class="category-item2">
        <div class="image-container">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div class="recipe-count">
          <div class="recipe-count-item">
            <ion-icon name="heart-outline"></ion-icon>
            <span>48</span>
          </div>
          <div class="recipe-count-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>48mins</span>
          </div>
        </div>
      </div>
      <div class="category-item2">
        <div class="image-container">
          <img src="../../../assets/food/cake2.jpg" />
        </div>
        <div class="recipe-count">
          <div class="recipe-count-item">
            <ion-icon name="heart-outline"></ion-icon>
            <span>48</span>
          </div>
          <div class="recipe-count-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>48mins</span>
          </div>
        </div>
      </div>
      <div class="category-item2">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <div class="recipe-count">
          <div class="recipe-count-item">
            <ion-icon name="heart-outline"></ion-icon>
            <span>48</span>
          </div>
          <div class="recipe-count-item">
            <ion-icon name="time-outline"></ion-icon>
            <span>48mins</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
