*:focus {
    outline: none !important;
}
.header-md::after {
    background-image: none !important;
}
ion-toolbar {
    // --border-width: 0px !important;
    padding: 0px 10px !important;
    display: flex !important;
    justify-content: flex-start !important;
    transition: all ease .4s;
}
#cancel {
    padding: 10px 15px 10px 0px;
    border: none;
    color: var(--ion-color-primarycolor);
    font-size: .8em;
    background-color: transparent;
}
#post {
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: var(--ion-color-primarycolor);
    font-size: .8em;
    border-radius: 20px;
}
ion-content {
    height: 100%;
    .body {
        height: 100%;
        display: flex;
        align-items: flex-start;
        margin-top: 10px;
        padding: 16px;
    }
}
textarea {
    width: 90%;
    min-height: 100%;
    padding: 10px 16px;
    border: none;
    font-size: .9em;
    color: var(--ion-color-textcolor);
    &:focus {
        outline: none !important;
    }
}
.image-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        min-height: 40px;
    }
}
