<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button id="cancel" (click)="this.dismiss()">Cancel</button>
    </ion-buttons>
    <ion-buttons slot="end">
      <button id="post" disabled>Post</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">
    <div class="image-container">
      <img src="../../../assets/food/shawarma1.jpg" />
    </div>
    <textarea placeholder="Leave your review here for Chicken shawarma..."></textarea>
  </div>
</ion-content>
