ion-toolbar {
    --border-width: 0 !important;
}
.container {
    width: 100%;
    background-color: var(--ion-color-secondarycolor2);
    min-height: 100%;
    display: flex;
    flex-flow: column;
    // justify-content: center;
    align-items: center;
}
.container-heading {
    font-size: 1.65em;
    font-weight: 400;
    word-spacing: 1.5px;
    margin-bottom: 0px;
    color: var(--ion-color-textcolor);
}
.container-subheading {
    width: 100%;
    font-size: .95em;
    font-weight: 300;
    padding: 0px 16px 0px 16px;
    margin: 10px 0px 20px 0px;
    box-sizing: border-box;
    text-align: center;
    color: var(--ion-color-textcolor);

    a {
        text-decoration: none;
        color: var(--ion-color-linkcolor);
    }
}
.form {
    width: 100%;
    padding: 0px 16px 0px 16px;
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 40px;

    input {
        width: 100%;
        padding: 15px;
        box-sizing: border-box;
        border: solid 1px #ECEFF1;
        border-radius: 5px;
        margin-bottom: 20px;
        font-size: .9em;
    }

    button {
        width: 100%;
        padding: 15px;
        font-size: .9em;
        box-sizing: border-box;
        border: none;
        color: white;
        background-color: var(--ion-color-primarycolor);
        border-radius: 5px;
        margin-bottom: 20px;
    }
}