<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="container-heading">Forgot Password</p>
    <p class="container-subheading">
        Enter email to reset password
    </p>
    <div class="form">
        <input type="email" placeholder="Email" />
        <button>Reset Password</button>
    </div>
  </div>
</ion-content>
