<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" icon="chevron-back" text="Recipes"></ion-back-button>
    </ion-buttons>
    <ion-title>Categories</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="category-list">
      <div class="category-item" [routerLink] = "['/tabs/feed/categories/2']">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <p>Breakfast</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/pizza1.jpg" />
        </div>
        <p>Brunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <p>Lunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/cake2.jpg" />
        </div>
        <p>Brunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <p>Brunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <p>Breakfast</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/pizza1.jpg" />
        </div>
        <p>Brunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <p>Lunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/cake2.jpg" />
        </div>
        <p>Brunch</p>
      </div>
      <div class="category-item">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
        </div>
        <p>Brunch</p>
      </div>
    </div>
  </div>
</ion-content>
