<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/signin" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p class="container-heading">Sign up</p>
    <p class="container-subheading">
        Sign in to get access to thousand of recipes and connect with friends.
    </p>
    <div class="form">
        <input type="text" placeholder="Full Name" />
        <input type="email" placeholder="Email" />
        <input type="number" placeholder="Phone number" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="Re enter Password" />
        <button>Create Account</button>
    </div>
  </div>
</ion-content>
