<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="products">
      <ion-icon name="restaurant"></ion-icon>
      <label>Food</label>
    </ion-tab-button>
    <ion-tab-button tab="feed">
      <ion-icon name="fast-food"></ion-icon>
      <label>Recipes</label>
    </ion-tab-button>
    <ion-tab-button tab="notification">
      <ion-icon name="notifications"></ion-icon>
      <label>Notifications</label>
    </ion-tab-button>
    <!-- <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button tab="saves">
      <ion-icon name="heart"></ion-icon>
      <label>Saved</label>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <ion-icon name="person"></ion-icon>
      <label>Account</label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
