<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="recipe-list">
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="follow" (click)="this.presentToast()">Follow</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="follow" (click)="this.presentToast()">Follow</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="follow" (click)="this.presentToast()">Follow</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="follow" (click)="this.presentToast()">Follow</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="following" (click)="this.presentToast()">Following</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="following" (click)="this.presentToast()">Following</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="follow" (click)="this.presentToast()">Follow</button>
    </div>
    <div class="user">
      <div class="recipe-user" [routerLink]="['/tabs/feed/user/2']">
        <div class="user-info">
          <img src="../../../assets/food/cake1.jpg" />
        </div>
        <div>
          <p>Farouk Bakre</p>
          <p>@farbaks</p>
        </div>
      </div>
      <button class="following" (click)="this.presentToast()">Following</button>
    </div>
  </div>
</ion-content>
