<ion-header translucent="true">
  <ion-toolbar class="toolbar1" id="header">
    <div>
      <p class="profile-heading">Saves</p>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
<ion-refresher slot="fixed">
  <ion-refresher-content></ion-refresher-content>
</ion-refresher>
  <div class="container">
    <div class="recipe-list">
      <div class="recipe-item">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
          <div class="recipe-rating">
            <ion-icon name="star"></ion-icon>
            <p>4.8</p>
            <p>| 999K reviews</p>
          </div>
        </div>
        <div class="recipe-info">
          <p class="recipe-subheading">by Farouk Bakre</p>
          <p class="recipe-heading">Chicken Shawarma</p>
          <p class="recipe-subheading">Breakfast</p>
          <div class="recipe-count">
            <div class="recipe-count-item">
              <ion-icon name="chatbubble-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="heart-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="time-outline"></ion-icon>
              <p>48mins</p>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe-item">
        <div class="image-container">
          <img src="../../../assets/food/cake2.jpg" />
          <div class="recipe-rating">
            <ion-icon name="star"></ion-icon>
            <p>4.8</p>
            <p>| 999K reviews</p>
          </div>
        </div>
        <div class="recipe-info">
          <p class="recipe-subheading">by Farouk Bakre</p>
          <p class="recipe-heading">Chocolat Cupcakes</p>
          <p class="recipe-subheading">Dessert</p>
          <div class="recipe-count">
            <div class="recipe-count-item">
              <ion-icon name="chatbubble-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="heart-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="time-outline"></ion-icon>
              <p>48mins</p>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe-item">
        <div class="image-container">
          <img src="../../../assets/food/cake1.jpg" />
          <div class="recipe-rating">
            <ion-icon name="star"></ion-icon>
            <p>4.1</p>
            <p>| 2K reviews</p>
          </div>
        </div>
        <div class="recipe-info">
          <p class="recipe-subheading">by Jimoh Abdulrazak</p>
          <p class="recipe-heading">Chocolate Cake</p>
          <p class="recipe-subheading">Dessert</p>
          <div class="recipe-count">
            <div class="recipe-count-item">
              <ion-icon name="chatbubble-outline"></ion-icon>
              <p>20</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="heart-outline"></ion-icon>
              <p>482</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="time-outline"></ion-icon>
              <p>2hrs 48mins</p>
            </div>
          </div>
        </div>
      </div>

      <div class="recipe-item">
        <div class="image-container">
          <img src="../../../assets/food/shawarma1.jpg" />
          <div class="recipe-rating">
            <ion-icon name="star"></ion-icon>
            <p>4.8</p>
            <p>| 999K reviews</p>
          </div>
        </div>
        <div class="recipe-info">
          <p class="recipe-subheading">by Farouk Bakre</p>
          <p class="recipe-heading">Chicken Shawarma</p>
          <p class="recipe-subheading">Breakfast</p>
          <div class="recipe-count">
            <div class="recipe-count-item">
              <ion-icon name="chatbubble-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="heart-outline"></ion-icon>
              <p>48</p>
            </div>
            <div class="recipe-count-item">
              <ion-icon name="time-outline"></ion-icon>
              <p>48mins</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ion-infinite-scroll >
    <ion-infinite-scroll-content
      loadingSpinner="lines">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
